{{ define "main" }}

{{ partial "page-title.html" . }}

{{ with .Params.pricing }}
{{ if .enable }}
<section class="pricing-table section bg-gray">
  <div class="container">
    <div class="row">
      <!-- single pricing table -->
      {{ range .pricing_table }}
      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="pricing-item text-center">
            <p>Maître FABIAN garantit des honoraires transparents, adaptés à la situation de ses clients, à la complexité de leurs dossiers et au temps passé au traitement de ceux-ci. Le montant des honoraires est donc librement fixé en accord avec le client dès le premier rendez-vous, et fait l’objet d’une convention d’honoraires. Les honoraires sont adaptés à la situation de chaque client. Ils tiennent compte de leur situation personnelle, de la complexité et du temps consacré à l’affaire, du travail de recherche requis, des diligences à effectuer ainsi que des frais exposés par le cabinet. Le mode de rémunération peut se faire sous deux formes :</p>
          <div class="price-title">
            {{ with .price }}<i class="value {{ . }}"></i>{{ end }}
            </br></br>
            {{ with .name }}<h3>{{ . | markdownify }}</h3>{{ end }}
            {{ with .content }}{{ . | $.Page.RenderString (dict "display" "block") }}{{ end }}
          </div>
          <ul>
            {{ range .services }}
            <li>{{ . | markdownify }}</li>
            {{ end }}
          </ul>
        </div>
      </div>
      {{ end }}
      <!-- end single pricing table -->
      <div class="col-md-12 text-center">
        </br>
        <p>Dans tous les cas, un acompte est demandé pour toute ouverture et étude de dossier.</p>
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}

<!-- Call to action -->
{{ if .Params.cta.enable }}
{{ partial "cta.html" . }}
{{ end }}
<!-- /Call to action -->

{{ end }}
